Django>=4.2,<5.0
djangorestframework
gunicorn
whitenoise
pillow  # For image processing
django-environ  # For environment variables
grappelli  # Django Grappelli for admin UI customization
argon2-cffi  # For password hashing
django-import-export  # For importing/exporting data in Django admin
django-crispy-forms  # For better form styling
django-widget-tweaks 
